<div class="col-3 inline-div">
    <div class="center">
        <button class="btn btn-success search-button" (click)="toggleSearch()">{{searchOpened ? "Close search":
            "Search"}}</button>
    </div>
    <div class="scroll-div content">
        <app-charger-info [hidden]="searchOpened" [charger]="selectedCharger"></app-charger-info>
        <app-search-chargers [hidden]="!searchOpened" (searchedChargersEvent)="changeChargers($event)">
        </app-search-chargers>
    </div>
</div>
<div class="col-9  inline-div map">
    <app-map-page [chargers]="chargersToMap" (selectedChargerEvent)="setSelectedCharger($event) "></app-map-page>
</div>