/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.cdk-global-scrollblock {
    overflow-y: hidden !important;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.button-green {
    padding: 0.375rem 0.75rem;
    border: 2px solid green;
    border-radius: 0.25rem;
    background-color: white;
    color: green;
    outline: none !important;
    box-shadow: none !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}