.box {
    position: relative;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

    .user {
        font-weight: bold;
        font-size: 18px;
        color: green;
        margin-bottom: 0;
    }

    .datetime {
        color: grey;
        font-size: 11px;
        margin-top: 0;
    }

    .comment {
        position: relative;
        font-size: 15px;

        .img-span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20%;
            display: inline-block;
        }

        .comment-span {
            font-style: italic;
            margin-left: 20%;
            width: 75%;
            display: inline-block;
        }

        img {
            width: 30px;
            height: auto;
        }
    }

    .strike-div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        text-align: center;

        .strike {
            font-size: 12px;
            text-transform: uppercase;
            color: red;
            font-weight: bold;
            padding: 5px 10px;
            background-color: transparent;
            border: 1px solid red;
            border-radius: 3px;

            &:hover {
                color: white;
                background-color: red;
            }
        }

        .strike-ai {
            font-size: 12px;
            font-style: italic;
            padding-top: 5px;

            &.red {
                color: red;
            }

            &.orange {
                color: orange;
            }

            &.green {
                color: green;
            }
        }
    }
}

.rate {
    display: flex;
    width: 100%;
    margin: 0;

    input {
        position: absolute;
        top: -9999px;
    }

    label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 20px;
        color: #ccc;

        &:before {
            content: '★ ';
        }
    }
}

.textarea {
    margin-top: 10px;
    width: 100%;
    min-height: 120px;
    padding: 5px;
    border-radius: 5px;
}