<div class="box">
    <p class="user">{{getFullName()}}</p>
    <p class="datetime">{{formatDate(recension.date)}}</p>
    <div class="row">
        <span class="rate">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <input type="radio" [id]="'star' + star" name="rate" [value]="star" />
                <label [ngStyle]="{'color': recension.rate >= star ? 'green' : ''}" [for]="'star' + star" title="text">
                    {{ star }} star{{ star > 1 ? 's' : '' }}
                </label>
            </ng-container>
        </span>
    </div>
    <div class="comment">
        <div class="img-span"><img src="assets/img/quotes.png"></div>
        <div class="comment-span"> {{recension.content}}</div>
    </div>
    <div class="strike-div" [hidden]="!isRole('Administrator')">
        <button class="strike" (click)="strikeUser(recension.user_id)">Strike</button>
        <p [ngClass]="getToxicityClass(recension.toxic)">
            Toxicity AI - {{ getToxicityPercentage(recension.toxic) | number }}%
          </p>
    </div>
</div>