<div>
  <img src="assets/img/energy.png" id="img-top">
  <img src="assets/img/energy.png" id="img-btm">
  <div class="row justify-content-center align-items-center loginForm">
    <form class="col-md-12 box" [formGroup]="form" (ngSubmit)="submit()">
      <fieldset>
        <p class="login-label">Login</p>
        <div class="form-group row">
          <div id="email-div" class="col-md">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email"
              formControlName="email" />
            <small id='danger-label-email' class="text-danger danger-label" *ngIf="
          form.controls['email'].touched &&
          form.controls['email'].errors?.['required']
          ">
              Email can't be empty!
            </small>
            <small id='danger-label-email' class="text-danger danger-label" *ngIf="
          form.controls['email'].touched &&
          form.controls['email'].errors?.['invalidEmail']
          ">
              Email has invalid format!
            </small>
          </div>
        </div>

        <div class="form-group row">
          <div id="pass-div" class="col-md">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
              formControlName="password" />
            <small id='danger-label-pass' class="text-danger" *ngIf="
          form.controls['password'].touched &&
          form.controls['password'].errors?.['required']
          ">
              Password can't be empty!
            </small>
            <small id='danger-label-pass' class="text-danger" *ngIf="
          form.controls['password'].touched &&
          form.controls['password'].errors?.['invalidPassword']
          ">
              Invalid characters in password field!
            </small>
            <small id='danger-label-pass' class="text-danger danger-label" *ngIf="
          form.controls['password'].touched &&
          form.controls['password'].errors?.['invalidMinLengthPassword']
          ">
              Minimum length is 8 characters!
            </small>
            <small id='danger-label-pass' class="text-danger danger-label" *ngIf="
          form.controls['password'].touched &&
          form.controls['password'].errors?.['invalidMaxLength']
          ">
              Maximum length is 20 characters!
            </small>
          </div>
        </div>

        <div class="row" style="text-align: center;">
          <div class="col-2"></div>
          <div>
            <button id="login-button" type="submit" class="btn btn-primary" [disabled]="!form.valid">
              <a>Login</a>

            </button>
          </div>

          <span style="color: black; margin-top:30px">
            Do not have an account ?
            <span class="col-4">
              <button id="register-button" class="btn btn-primary" (click)="register()">
                Register here !
              </button>
            </span>
          </span>

        </div>
      </fieldset>
    </form>
  </div>
</div>