.not-selected {
    text-align: center;
}

.cover-img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
}

.charger-name {
    font-size: 32px;
    color: green;
    font-weight: 500;
}

.reviews-btn {
    color: green;
    border: none;
    background-color: transparent;
    font-style: italic;
    margin-bottom: 12px;
}

.label {
    font-size: 15px;
    color: green;
    display: inline;
    font-weight: 500;
}

.price-speed {
    display: flex;
    justify-content: flex-start;

    .item {
        flex: 1;
    }

}

.resevation-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}