<div>
    <div class="top-content-wrapper">
        <div class="search-button-wrapper">
            <button class="button-green search-button" (click)="toggleSearch()">
                {{searchOpened ? "Close search": "Search"}}
            </button>
        </div>
        <div class="map-buttons">
            <button class="button-green map-button" (click)="findMe()">Find me</button>
            <button class="button-green map-button" (click)="findClosestCharger()">Find closest
                charger</button>
            <button class="button-green map-button" (click)="resetChargers()">Reset</button>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="left-wrapper">

            <div>
                <app-charger-info [hidden]="searchOpened" [charger]="selectedCharger">
                </app-charger-info>
                <app-search-chargers [hidden]="!searchOpened"
                    (searchedChargersEvent)="changeChargers($event)"></app-search-chargers>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="map">
                <app-map-page [chargers]="chargersToMap"
                    (selectedChargerEvent)="setSelectedCharger($event) "></app-map-page>
            </div>
        </div>
    </div>
</div>