h2 {
    margin-bottom: 20px;
}


button {
    margin-top: 10px;

}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

.textarea {
    margin-top: 10px;
    width: 100%;
    min-height: 120px;
    padding: 5px;
    border-radius: 5px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    width: 75%;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: green;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: green;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: green;
}