th,
td {
    border: 1px solid
}

.not-selected {
    height: 600px;
    line-height: 600px;
    text-align: center;
}

.cover-img {
    width: 99%;
    height: 110px;
    object-fit: cover;
}

.label {
    font-size: 15px;
    color: green;
    display: inline;
    font-weight: 500;
}

.smirk-content {
    padding: 0;
    margin: 0;
}

.charger-name {
    font-size: 32px;
    color: green;
    font-weight: 500;
}


.scroll-div {
    overflow-y: hidden;
    overflow-x: hidden;
}