<form class="row p-4 align-items-center justify-content-center" [formGroup]="searchFormGroup"
    (keydown.enter)="$event.preventDefault()">

    <div class="row" style="font-size: 13px">
        <mat-form-field class="example-form-field" appearance="outline" style="width: 100%; height:10%">
            <mat-label>Charger name</mat-label>
            <input id="nameInput" matInput type="text" formControlName="name">
            <button id="clearName" *ngIf="searchFormGroup.controls['name'].value" matSuffix mat-icon-button
                aria-label="Clear" (click)="searchFormGroup.controls['name'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <small *ngIf="(searchFormGroup.controls['name'].touched || searchFormGroup.controls['name'].dirty)">Invalid
            search input
        </small>
    </div>

    <div class=" row">
        <p>Work time</p>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>From</mat-label>
                <input matInput type="number" formControlName="workTimeFrom" min="0" max="24">
            </mat-form-field>
        </div>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>To</mat-label>
                <input matInput type="number" formControlName="workTimeTo" min="0" max="24">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <p>Number of plugs and type</p>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>Capacity</mat-label>
                <input matInput type="number" formControlName="capacity" min="1" max="10">
            </mat-form-field>
        </div>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>Plug type</mat-label>
                <input matInput type="text" formControlName="type" min="1" max="24">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <p>Price</p>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>From</mat-label>
                <input matInput type="number" formControlName="pricePerHourFrom" min="1" max="20" step="50">
            </mat-form-field>
        </div>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>To</mat-label>
                <input matInput type="number" formControlName="pricePerHourTo" min="1" max="20" step="50">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <p>Charging speed</p>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>From</mat-label>
                <input matInput type="number" formControlName="chargingSpeedFrom" min="5" max="35">
            </mat-form-field>
        </div>
        <div class="col-6" style="font-size: 13px">
            <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
                <mat-label>To</mat-label>
                <input matInput type="number" formControlName="chargingSpeedTo" min="5" max="35">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" type="submit" [disabled]="!searchFormGroup.valid" (click)="submit()"> Search
        </button>
    </div>
</form>