<div>
  <div class="col">
    <app-header-admin *ngIf="isRole('Administrator')"></app-header-admin>
  </div>
  <div class="col">
    <app-header-user *ngIf="isRole('RegisteredUser')">
    </app-header-user>
  </div>
  <div class="col">
    <app-header-common *ngIf="!isRole('RegisteredUser') || !isRole('Administrator')">
    </app-header-common>
  </div>

  <div class="container-fluid" style="height: 100%;">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>